#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite verbose="1" name="Carina Demo Tests - Web tests" skipfailedinvocationcounts="false" junit="false" parallel="tests" data-provider-thread-count="50" annotations="JDK">
	<listeners>
        	<listener class-name="com.qaprosoft.zafira.listener.ZafiraListener"/>
	</listeners>

	<parameter name="suiteOwner" value="qpsdemo"/>
	<parameter name="zafira_project" value="UNKNOWN"/>
	<parameter name="jenkinsJobCreation" value="true"/>
	<parameter name="jenkinsJobName" value="Web-Demo-Test"/>
	<parameter name="jenkinsJobType" value="web"/>
	<parameter name="jenkinsEnvironments" value="DEMO"/>
	<parameter name="jenkinsEmail" value="demo@qaprosoft.com"/>

	<parameter name="jenkinsRegressionPipeline" value="Carina-Demo-Regression-Pipeline"/>
	<parameter name="jenkinsPipelineEnvironments" value="DEMO"/>
	<parameter name="jenkinsQueueRegistration" value="false"/>

	<parameter name="jenkinsPipelineBrowsers" value="chrome,firefox"/>
	<parameter name="jenkinsJobExecutionOrder" value="1"/>
	<parameter name="jenkinsJobExecutionMode" value="continue"/>

	<test name="GSM arena web tests">
		<classes>
			<class name="${package}.carina.demo.WebSampleTest" />
		</classes>
	</test>

</suite>
