<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-config.dtd">
 
<configuration>

	<properties resource="database.properties" />

	<settings>
		<setting name="useGeneratedKeys" value="true" />
	</settings>

	<environments default="testing">

		<environment id="testing">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${db.driver}" />
				<property name="url" value="${db.url}" />
				<property name="username" value="${db.user}" />
				<property name="password" value="${db.pass}" />
			</dataSource>
		</environment>
	</environments>

</configuration>