<?xml version="1.0" encoding="UTF-8"?>
<configuration packages="example">
    <appenders>
        <ThreadLogAppender name="ThreadLogAppender"/>
    </appenders>
    <loggers>
        <root level="info">
            <appender-ref ref="ThreadLogAppender"/>
        </root>
    </loggers>
</configuration>
