<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>

    <property name="LOG_HOME" value="target/logback"/>

    <!-- Send debug messages to System.out -->
    <appender name="ConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>true</withJansi>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <encoder>
            <pattern>%date{yyyy-MM-dd HH:mm:ss} %logger{0} [%thread] [%level] %msg%n</pattern>
        </encoder>
    </appender>

    <!-- By default, the level of the root level is set to DEBUG -->
    <root level="info">
        <appender-ref ref="ConsoleAppender"/>
    </root>

</configuration>