<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" debug="false"> <!-- set debug to true to dump logback status info alwayas -->

	<contextName>MyBatisDAOHelper</contextName>

	<!-- APPENDERS -->

	<appender name="SQLDUMP" class="ch.qos.logback.core.FileAppender">
		<file>sql.log</file>
		<append>false</append>
		<encoder>
			<!-- <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern> -->
			<pattern>[%contextName] [%c] [%d{dd MMM yyyy - hh:mm:ss}] %5p - %m %n
			</pattern>
		</encoder>
	</appender>

	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>application.log</file>
		<encoder>
			<!-- <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern> -->
			<pattern>[%contextName] [%c] [%d{dd MMM yyyy - hh:mm:ss}] %5p - %m %n
			</pattern>
		</encoder>
	</appender>

	<!-- appender name="OUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>[%contextName] [%c] [%d{dd MMM yyyy - hh:mm:ss}] %5p - %m %n
			</pattern>
		</encoder>
	</appender>

	<appender name="OUT_SIMPLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder> 
			<pattern>[%c] %5p - %m %n</pattern>
		</encoder>
	</appender>
	
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>[%contextName] %d{HH:mm:ss.SSS} [%thread] %-5level
				%logger{36} - %msg%n</pattern>
		</encoder>
	</appender-->

	<!-- LOGGERS -->

	<root level="debug">
		<appender-ref ref="OUT_SIMPLE" />
	</root>

	<!-- loggers inherit the appender from their parent ( the root logger ) 
		additivity="false" -->
	<logger name="java.sql" level="DEBUG" additivity="false">
		<appender-ref ref="SQLDUMP" />
	</logger>

	<logger name="org.apache.ibatis.datasource" level="DEBUG" />

</configuration>